# ==============================================================
# PRINTER STARTUP
# ==============================================================

[delayed_gcode setdisplayneopixel]
initial_duration: 1
gcode:
    SB_STARTUP # toolhead leds
    SET_PIN PIN=caselight VALUE=0.01 # dim case light



# ==============================================================
# PRINT START (include in slicer)
# ==============================================================

[gcode_macro PRINT_START]
gcode:

    # Variables sent from Cura:
    {% set bedtemp = params.BED|int %}
    {% set hotendtemp = params.HOTEND|int %}
    {% set chambertemp = params.CHAMBER|int %} # not used but there is a cura plugin for this (I think)

    # Heat bed:
    M117 Heating Bed...
    LIGHTS_DIM # dim case lights
    SB_BED_HEAT # leds
    M140 S{bedtemp} # start heating
    M190 S{bedtemp} # wait for bed temp

    # Wait for chamber:
    M117 Heating Chamber...
    SB_ENCLOSURE_HEAT # leds
    TEMPERATURE_WAIT SENSOR="temperature_sensor chamber_temp" MINIMUM={chambertemp}

    # Tram:
    G32 # brings to 150 for tap

    # Heat extruder:
    M117 Heating Extruder...
    SB_PRINT_HEAT # set LEDS
    G1 X46 # copped from "clean_nozzle" but: bucket_pos = 0


    M104 S{hotendtemp} # start heating
    M109 S{hotendtemp} # wait for extruder temp

    # Purge line:
    M117 Cleaning Nozzle...
    SHOP_LIGHTS_ON
    SB_PURGE # leds
    # PURGE_LINE
    clean_nozzle

    # Start print:
    M117 Printing...
    SB_PRINT # leds



# ==============================================================
# PRINT END (include in slicer)
# ==============================================================

[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customise for your slicer of choice
gcode:
    M117 Print Complete!

    # safe anti-stringing move coords
    {% set th = printer.toolhead %}
    {% set x_safe = th.position.x + 20 * (1 if th.axis_maximum.x - th.position.x > 20 else -1) %} # move right, or left if the wall is near
    {% set y_safe = th.position.y + 20 * (1 if th.axis_maximum.y - th.position.y > 20 else -1) %} # axis_maximum is the end of the print space
    {% set z_safe = [th.position.z + 2, th.axis_maximum.z]|min %} # stop before hitting the roof

    # led lights
    status_busy
    
    SAVE_GCODE_STATE NAME=STATE_PRINT_END # saves current information about the current gcode
    
    M400 # wait for moves in the planner to clear?
    G92 E0 # zero extruder
    G1 E-18.0 F1800 # retract fillament (18 mm?)
    
    TURN_OFF_HEATERS
    
    G90                                      ; absolute positioning
    G0 X{x_safe} Y{y_safe} Z{z_safe} F20000  ; move nozzle to remove stringing
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y - 2} F3600  ; park nozzle at rear
    M107                                     ; turn off fan
    
    # BED_MESH_CLEAR <-- not using bed mesh?
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END # recalls information about gcode

    # leds:
    SB_STARTUP


    # Park print head at top middle to help prevent sag?



# ==============================================================
# G32
# ==============================================================

[gcode_macro G32]
gcode:
    M117 Heating Nozzle...
    SB_TAP_HEAT # leds
    M109 S150 # set nozzle to 150
    SB_TRAM # set lights for leveling (tramming

    # Wipe the nozzle:
    # clean_nozzle

    # Home if needed
    M117 Homing...
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28
    {% endif %}

    M117 Quad Gantry Level...
    QUAD_GANTRY_LEVEL
    G28 Z # home Z
    # G0 X175 Y175 Z30 F3600 # move to middle of bed



# ==============================================================
# Purge Line 
# ==============================================================

[gcode_macro PURGE_LINE]
gcode:
    G92 E0; reset extruder
    G0 X145 Y5 F5000.0; move to start of line
    G1 X145 Y5 Z0.3 F5000.0; move to start-line position
    G1 X225 Y5 Z0.3 F1000.0 E15; draw 1st line (80 long)
    G1 X225 Y5.3 Z0.3 F5000.0; move to side a little
    G1 X145 Y5.3 Z0.3 F1000.0 E30; draw 2nd line
    G92 E0; reset extruder
    G1 Z1.0 F3000; move z up little



# ==============================================================
# Nozzle Scrub
# ==============================================================

#######################################################################################################################################

# Sample macro config to be used in conjunction with the Decontaminator Purge Bucket & Nozzle Scrubber mod. Created by Hernsl 
# (hernsl#8860 on Discord) and edited by Edwardyeeks (edwardyeeks#6042 on Discord). Several ideas that made it as features by
# Deutherius (deutherius#3295 on Discord).

# The goal of this macro is to provide a nozzle scrubbing and purging routine that is easily copied/referenced into your  printer.cfg.
# Users can simply change parameters and enable/disable options in the first half. Descriptions are plentiful, making this macro
# look huge but informative and are laid out in sequence to be read first describing the line below; PLEASE READ CAREFULLY.

# This sample config assumes the following: The user has implemented the default decontaminator purge bucket & nozzle scrubber mod
# for the VORON 1/2. It can be tweaked to customised purge bucket geometries and brushes.

# Features in this macro: option of putting the bucket at the rear or front of the bed. Purge routine that can be enabled/disabled.
# By default, bucket is located at rear left of bed and purge routine is enabled. The purge and scrubbing routine is randomized
# in either left or right bucket to ensure as even as possible distribution of filament gunk.

# Default parameters are set for safe speeds and movements. Where necessary, tweak the parameters for the nozzle scrub procedure 
# to fit your printer.

# To avoid adding length of lines to your main printer.cfg config file, one can upload a config file separately into klipper and
# include it into the main printer config. Upload nozzle_scrub.cfg to the same directory as printer.cfg. Usually, it is in /home/pi/.
# Users of Fluidd, Mainsail and other klipper front ends would find it under /home/pi/klipper_config/.

# Once uploaded, add the following to your printer.cfg in the Macros section: [include /home/pi/nozzle_scrub.cfg] 
# Those running Fluidd, Mainsail and other front ends will need to use the following location instead:
# [include /home/pi/klipper_config/nozzle_scrub.cfg]

#######################################################################################################################################

# Name of the macro is clean_nozzle.

[gcode_macro clean_nozzle]

# If you are putting your purge bucket at the rear left of the bed as per default installation, enable True on your location_bucket_rear 
# variable. If you want to put your purge bucket elsewhere (perhaps the front), then set it to False. See diagrams and description 
# further below on how to set your XY position.
variable_location_bucket_rear:      True

# If you want the purging routine in your bucket enabled, set to True (and vice versa).
variable_enable_purge:              True

# These parameters define your filament purging. The retract variable is used to retract right after purging to prevent unnecessary
# oozing. Some filament are particularly oozy and may continue to ooze out of the nozzle for a second or two after retracting. The
# ooze dwell variable makes allowance for this. Update as necessary. If you decided to not enable purge, you can ignore this section.
variable_purge_len:            20	         ; Amount of filament, in mm, to purge.
variable_purge_spd:           150	         ; Speed, in mm/min, of the purge.
variable_purge_temp_min:      190	         ; Minimum nozzle temperature to permit a purge. Otherwise, purge will not occur.
variable_purge_ret:             2            ; Retract length, in mm, after purging to prevent slight oozing. Adjust as necessary.
variable_ooze_dwell:            2            ; Dwell/wait time, in seconds, after purging and retracting.

# Adjust this so that your nozzle scrubs within the brush. Currently defaulted to be a lot higher for safety. Be careful not to go too low!
variable_brush_top:            3.6 # 3.8 seemed too high still

# These parameters define your scrubbing, travel speeds, safe z clearance and how many times you want to wipe. Update as necessary. Wipe 
# direction is randomized based off whether the left or right bucket is randomly selected in the purge & scrubbing routine.
variable_clearance_z:           5	         ; When traveling, but not cleaning, the clearance along the z-axis between nozzle and brush.
variable_wipe_qty:              3	         ; Number of complete (A complete wipe: left, right, left OR right, left, right) wipes.
variable_prep_spd_xy:        5000	         ; Travel (not cleaning) speed along x and y-axis in mm/min (50 mm/s)
variable_prep_spd_z:         1500	         ; Travel (not cleaning) speed along z axis in mm/min.
variable_wipe_spd_xy:        5000	         ; Nozzle wipe speed in mm/min.


# These parameters define the size of the brush. Update as necessary. A visual reference is provided below. Note that orientation of 
# parameters remain the same whether bucket is at rear or front.
# 
#                  ←   brush_width   →                            
#                   _________________                                                          ↑
#                  |                 |  ↑                     If you chose location_bucket_rear = True, Y position is acquired
#  brush_start (x) |                 | brush_depth            from your stepper_y position_max. Adjust your brush physically in
#                  |_________________|  ↓                               Y so that the nozzle scrubs within the brush.       
#                          (y)                                                                 ↓
#                      brush_front
# __________________________________________________________
#                     PRINTER FRONT
# 
# 
## For V1.8, you may need to measure where your brush is on the x axis and input manually into any of the variable_brush_start uncommented.
## For V2.4 250mm build, uncomment this below: 
#variable_brush_start:     25	    

## For V2.4 300mm build, uncomment this below:
#variable_brush_start:     50

## For V2.4 350mm build, uncomment this below:
variable_brush_start:     75

# This value is defaulted from brush location in CAD (rear left). Change if your brush width is different.
variable_brush_width:          52	

## These are only used if location_bucket_rear is False. You specify a custom location in y axis for your brush - see diagram above. ##
variable_brush_front:       0          
variable_brush_depth:       0          


# These parameters define the size of your purge bucket. Update as necessary. If you decided to not enable purge, you can ignore 
# this section. A visual reference is provided below. Note that orientation of parameters remain the same whether bucket is at rear 
# or front.
# 
#                                     bucket_gap
#                                      ← ---- →
#                     __________________________________________
#                    |                 |      |                 |      
#                    |                 |      |                 |
#  bucket_start (x)  |                 |______|                 |
#                    |                 |      |                 |
#                    |                 |      |                 |
#                    |_________________|. . . |_________________|
#                     ← ------------- →        ← ------------- →
#                     bucket_left_width        bucket_right_width
#  _______________________________________________________________________________________
#                                    PRINTER FRONT
# 
## For V2.4 250mm build, uncomment below 
#variable_bucket_left_width:    42

## For V2.4 300mm build, uncomment below
#variable_bucket_left_width:    67

## For V2.4 350mm build, uncomment below
variable_bucket_left_width:    92   

# These values are defaulted from bucket geometry in CAD (rear left location). Change only if you're using a custom bucket.
variable_bucket_right_width:   40            
variable_bucket_gap:           22	

# For V1.8, you may need to measure where your bucket start is and input into bucket_start. Otherwise, a value of 0 is for a default
# installation of purge bucket at rear left.
variable_bucket_start: 0


###############################################################################################################################################
###############################################################################################################################################

### From here on, unless you know what you're doing, it's recommended not to change anything. Feel free to peruse the code and reach out to me
### (edwardyeeks#6042) on Discord if you spot any problems!

###############################################################################################################################################
###############################################################################################################################################

# Placeholder. The variable will later be set to contain, at random, a number representing the left or right bucket.
variable_bucket_pos:            1	        

gcode:

    # Home the printer if it is not already:
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28
    {% endif %}

    ## Save the gcode state in this macro instance.
    SAVE_GCODE_STATE NAME=clean_nozzle
    
    ## Set to absolute positioning.
    G90
    
    ## Grab max position of Y-axis from config to use in setting a fixed y position for location_bucket_rear = True.
    {% set Ry = printer.configfile.config["stepper_y"]["position_max"]|float %}
    
    ## Check if user enabled purge option or not.
    {% if enable_purge %}
    
     ### Randomly select left or right bin for purge. 0 = left, 1 = right
     SET_GCODE_VARIABLE MACRO=clean_nozzle VARIABLE=bucket_pos VALUE={(range(2) | random)}
    
     ### Raise Z for travel.
     G1 Z{brush_top + clearance_z} F{prep_spd_z} # < ---- This may be the source of the weird move up
    
     ### Check if user chose to use rear location.
     {% if location_bucket_rear %}
        G1 Y{Ry} F{prep_spd_xy}
     {% else %}
        G1 Y{brush_front + (brush_depth / 2)} F{prep_spd_xy}
     {% endif %}
    
     ### Position for purge. Randomly selects middle of left or right bucket. It references from the middle of the left bucket.
     G1 X{bucket_start + (bucket_left_width / (2 - bucket_pos)) + (bucket_pos * bucket_gap) + (bucket_pos * (bucket_right_width / 2))}
    
     ### Perform purge if the temp is up to min temp. If not, it will skip and continue executing rest of macro. Small retract after
     ### purging to minimize any persistent oozing at 5x purge_spd. G4 dwell is in milliseconds, hence * 1000 in formula.
     {% if printer.extruder.temperature >= purge_temp_min %}
        M83      ; relative mode
        G1 E{purge_len} F{purge_spd}
        G1 E-{purge_ret} F{purge_spd * 5}
        G4 P{ooze_dwell * 1000}
        G92 E0   ; reset extruder
     {% endif %}
    
    {% endif %}

  ## Position for wipe. Either left or right of brush based off bucket_pos to avoid unnecessary travel.
  G1 Z{brush_top + clearance_z} F{prep_spd_z}
  G1 X{brush_start + (brush_width * bucket_pos)} F{prep_spd_xy}

  ## Check if user chose to use rear location.
  {% if location_bucket_rear %}
     G1 Y{Ry}
  {% else %}
     G1 Y{brush_front + (brush_depth / 2)}
  {% endif %}

  ## Move nozzle down into brush.
  G1 Z{brush_top} F{prep_spd_z}

  ## Perform wipe. Wipe direction based off bucket_pos for cool random scrubby routine.
  {% for wipes in range(1, (wipe_qty + 1)) %}
     G1 X{brush_start + (brush_width * (1 - bucket_pos))} F{wipe_spd_xy}
     G1 X{brush_start + (brush_width * bucket_pos)} F{wipe_spd_xy}
  {% endfor %}

  ## Clear from area.
  M117 Cleaned!
  # G1 Z{brush_top + clearance_z} F{prep_spd_z}
  G1 Z{brush_top + clearance_z + 10} F{prep_spd_z} # move nozzle above brush
  G1 X{175} Y{175} F{prep_spd_xy} # move nozzle to center of bed after wipe

  # G1 X{bucket_start + (bucket_left_width / 4)} F{prep_spd_xy} #bugfix for right side mounted buckets
  # G1 Z{brush_top} F{prep_spd_z}

  ## Restore the gcode state to how it was before the macro.
  RESTORE_GCODE_STATE NAME=clean_nozzle

