# ==============================================================
# PROBE (TAP)
# ==============================================================

[probe]
pin: PG15 # probe port on PCB
speed: 10
samples: 3 # was 2, reset to 3 (default)
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.01 # not default, not sure what is
samples_tolerance_retries: 5 # was 2, reset to 5 (default)

activate_gcode: # Tap activation gcode
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }

    {% else %}
        {% if ACTUAL_TEMP > MAX_TEMP %} # Temperature target is already low enough, but nozzle may still be too hot.
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}



# ==============================================================
# Homing and Gantry Adjustment
# ==============================================================

[idle_timeout]
timeout: 1800 # power down motors after 30 minutes

[safe_z_home]
home_xy_position: 175,175 # Need this for tap!
speed: 200 # speed of non-homing moves (was 100, testing 200)
z_hop: 10



# ==============================================================
# QUAD GANTRY LEVEL
# ==============================================================

[quad_gantry_level]
gantry_corners: # actual corners of the gantry
  -60,-10
  410,420
points: # probe points
  25,25
  25,325
  325,325
  325,25

speed: 200 
horizontal_move_z: 10 
retries: 5 # number of rounds around the print bed (was 3, changed back to default)
retry_tolerance: 0.01 
max_adjust: 15


