# ==============================================================
# X STEPPER
# ==============================================================

[stepper_x] # Motor B (left)
# Connected to MOTOR_0
# Endstop connected to DIAG_0
step_pin: PF13
dir_pin: PF12
enable_pin: !PF14
rotation_distance: 40
microsteps: 32
full_steps_per_rotation:400  #set to 400 for 0.9 degree stepper

endstop_pin: PG6
position_min: 0
position_endstop: 350
position_max: 350

homing_speed: 50   # Max 100 (default 25)
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_x]
uart_pin: PC4
interpolate: false
run_current: 1.0 # calculated max to be 1.1
sense_resistor: 0.110
stealthchop_threshold: 0



# ==============================================================
# Y STEPPER
# ==============================================================

[stepper_y] # motor A (right)
# Connected to MOTOR_1
# Endstop connected to DIAG_1
step_pin: PG0
dir_pin: PG1
enable_pin: !PF15
rotation_distance: 40
microsteps: 32
full_steps_per_rotation: 400 # 0.9 degree stepper

endstop_pin: PG9
position_min: 0
position_endstop: 350
position_max: 350

homing_speed: 50  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

[tmc2209 stepper_y]
uart_pin: PD11
interpolate: false
run_current: 1.0 # calculated max to be 1.1
sense_resistor: 0.110
stealthchop_threshold: 0



# ==============================================================
# Z STEPPER
# ==============================================================

[stepper_z] # Z0 (front left)
step_pin: PF11 # Connected to MOTOR_2
dir_pin: PG3 
enable_pin: !PG5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32
endstop_pin: probe:z_virtual_endstop # Tap
# position_endstop: 0.0 <- tap

position_max: 330
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PC6
interpolate: false
run_current: 1.1 # calculated to be 1.4, but tmc2209 caps at 1.2
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z1] # Z1 (rear left)
step_pin: PG4 # Connected to MOTOR_3
dir_pin: !PC1
enable_pin: !PA0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PC7
interpolate: false
run_current: 1.1 # calculated to be 1.4, but tmc2209 caps at 1.2
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z2] # Z2 (rear right)
step_pin: PF9 # Connected to MOTOR_4
dir_pin: PF10
enable_pin: !PG2
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z2]
uart_pin: PF2
interpolate: false
run_current: 1.1 # calculated to be 1.4, but tmc2209 caps at 1.2
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z3] # Z3 (front right)
step_pin: PC13 # Connected to MOTOR_5
dir_pin: !PF0
enable_pin: !PF1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 32

[tmc2209 stepper_z3]
uart_pin: PE4
interpolate: false
run_current: 1.1 # calculated to be 1.4, but tmc2209 caps at 1.2
sense_resistor: 0.110
stealthchop_threshold: 0



# ==============================================================
# EXTRUDER
# ==============================================================

[extruder] # MOTOR_6 (connection), HE0 (heater), TO (thermistor)
step_pin: PE2
dir_pin: PE3
enable_pin: !PD4
rotation_distance: 22.6789511 # rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
gear_ratio: 50:10 # BMG Gear Ratio (clockwork 2)
microsteps: 32
full_steps_per_rotation: 200 # 1.8 degree
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: PA2
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PF4
min_temp: 10
max_temp: 270
max_power: 1.0
min_extrude_temp: 170
max_extrude_cross_section: 5 # added this because the default was for 0.4 nozzle (7/26/23)

#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721

# Try to keep pressure_advance below 1.0
#pressure_advance: 0.05
#pressure_advance_smooth_time: 0.040 # "default is 0.040, leave stock"


[tmc2209 extruder] # E0 on MOTOR6
uart_pin: PE1
interpolate: false
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0


