# Created from LDO pre-made configuration file (linked at the bottom of the wiring guide)
# See docs/Config_Reference.md for a description of parameters (downloaded to local machine)

# Last Backup: 6/25/23



# ==============================================================
# INCLUDE STATEMENTS
# ==============================================================

[include mainsail.cfg]
[include 0_printer_leds.cfg]
[include 0_macros.cfg]
[include 0_steppers.cfg]
[include 0_heaters_fans.cfg]
[include 0_probe.cfg]



# ==============================================================
# PRINTER SPECIFICATION
# ==============================================================

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f446xx_19003C000550335331383820-if00
restart_method: command

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 3000 # Max 4000
max_z_velocity: 15 # Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 52.348
#*# pid_ki = 1.353
#*# pid_kd = 506.466
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 34.135
#*# pid_ki = 4.294
#*# pid_kd = 67.844
#*#
#*# [probe]
#*# z_offset = -0.720
